%h1 รายชื่อห้องที่มีทั้งหมดในระบบ

- @roomtype.each do |type|
  - if type == "classroom" 
    %h4 ประเภทของห้อง: ห้องเรียน
  - else 
    %h4 ประเภทของห้อง: ห้องประชุม

  %table{:border => "1" ,:width => "400px"}
    %thead
      %tr
        %th ชื่อห้อง
        %th จำนวนคน
        %th ข้อมูลเพิ่มเติม
    %tbody
      - @rooms[type].each do |room|
        %tr
          %td{:width => "100px"}= room.roomname
          %td{:width => "100px",:align => "center"}= room.amount
          %td= link_to "ดูข้อมูลห้อง #{room.roomname}", staff_path(room)
  %br
